---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';

import colorPicker from '../assets/img/color-picker.png';
import swachImg from '../assets/img/swach.png';

import colorHarmoniesIcon from '../assets/svgs/color-harmonies-icon.svg';
import colorPickerIcon from '../assets/svgs/color-picker-icon.svg';
import contrastCheckerIcon from '../assets/svgs/contrast-checker-icon.svg';
import palettesIcon from '../assets/svgs/palettes-icon.svg';
import swachDockIcon from '../assets/svgs/swach-dock-icon.svg';

const title = 'A robust color management tool for the modern age.';
const description = 'A robust color management tool for the modern age.';
---

<Layout description={description} title={title}>
  <div class="flex flex-wrap justify-center w-full">
    <div
      class="bg-lightest-blue flex flex-wrap justify-center px-8 py-16 w-full"
    >
      <img
        alt=""
        class="top-bg absolute hidden z-0 lg:block"
        src={swachDockIcon.src}
      />

      <div class="max-w-6xl w-full z-10">
        <div class="flex flex-col flex-wrap items-center w-full lg:flex-row">
          <div class="w-full lg:w-1/2">
            <h1 class="p-4 text-4xl md:text-5.5xl">
              A robust color management tool for the
              <span class="modern-underline">modern age.</span>
            </h1>

            <div class="flex justify-center m-4 lg:justify-start">
              <a
                class="bg-color1 btn block font-gt-walsheim text-white hover:bg-white hover:text-color1"
                href="/download"
              >
                Download free
              </a>
            </div>
          </div>

          <div class="w-full lg:w-1/2">
            <Image
              alt="The Swach app showing colors and palettes."
              class="block h-auto max-w-md m-auto p-4 w-full lg:ml-auto lg:mr-0"
              src={swachImg}
            />
          </div>
        </div>
      </div>
    </div>

    <div
      class="bg-white flex flex-wrap justify-center pb-32 pl-8 pr-8 pt-32 w-full"
    >
      <div class="max-w-6xl w-full">
        <div
          class="flex flex-col-reverse flex-wrap items-center mb-4 mt-4 w-full lg:flex-row"
        >
          <div class="w-full lg:w-1/2">
            <Image
              alt="A Demo of the color picker choosing a color."
              class="block h-auto max-h-full max-w-md m-auto p-4 w-full lg:m-0"
              src={colorPicker}
            />
          </div>

          <div class="w-full lg:w-1/2">
            <img
              alt=""
              class="inline-block ml-4 h-16 w-16"
              src={colorPickerIcon.src}
            />

            <h2 class="p-4 text-3xl md:text-5xl">Color Picker</h2>

            <p class="m-4 text-lg">
              Our color picker runs natively across macOS, Windows, and Linux,
              allowing you to have the same seamless workflow, regardless of
              what machine you might be on.
            </p>

            <p class="m-4 text-lg">
              Colors are automatically copied to the clipboard, so they can be
              easily pasted wherever they are needed.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-light-blue flex flex-wrap justify-center pl-8 pr-8 w-full">
      <div class="max-w-6xl w-full">
        <div
          class="flex flex-col flex-wrap items-center mb-4 mt-4 w-full lg:flex-row"
        >
          <div class="w-full lg:w-1/2">
            <img
              alt=""
              class="inline-block ml-4 h-16 w-16"
              src={palettesIcon.src}
            />

            <h2 class="p-4 text-3xl md:text-5xl">Palettes</h2>

            <p class="m-4 text-lg">
              Palettes are the main color organization method in Swach. You
              might use them for separate projects, brands, inspiration, etc.
            </p>

            <p class="m-4 text-lg">
              They can store as few or as many colors as you would like. Colors
              can be moved from your color history into any palette, and between
              any unlocked palettes as well.
            </p>
          </div>

          <div class="w-full lg:w-1/2">
            <video
              autoplay
              muted
              loop
              playsinline
              class="h-auto max-w-sm m-auto p-4 w-full lg:ml-auto lg:mr-0"
            >
              <source src="/video/palettes.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
    </div>

    <div
      class="bg-white flex flex-wrap justify-center pb-24 pl-8 pr-8 pt-24 w-full"
    >
      <div class="max-w-6xl relative w-full">
        <div class="circle lg:h-72 lg:w-72"></div>

        <div
          class="flex flex-col-reverse flex-wrap items-center mb-4 mt-4 w-full lg:flex-row z-10"
        >
          <div class="w-full lg:w-1/2 z-10">
            <video
              autoplay
              muted
              loop
              playsinline
              class="h-auto m-auto max-h-full max-w-sm p-4 w-full lg:m-0"
            >
              <source src="/video/color-harmonies.mp4" type="video/mp4" />
            </video>
          </div>

          <div class="w-full lg:w-1/2 z-10">
            <img
              alt=""
              class="inline-block ml-4 h-16 w-16"
              src={colorHarmoniesIcon.src}
            />

            <h2 class="p-4 text-3xl md:text-5xl">Color Harmonies</h2>

            <p class="m-4 text-lg">
              Sometimes you may have one base color you particularly love, but
              you are not sure what other colors might go with it. To remedy
              this problem we added the color harmonies palette generator.
            </p>

            <p class="m-4 text-lg">
              This feature can be accessed by hovering the menu options of a
              single color and clicking the slider. It supports generating
              complementary, monochromatic, triad, and more!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="bg-peach flex flex-wrap justify-center pb-16 pl-8 pr-8 pt-16 w-full"
    >
      <div class="max-w-6xl relative w-full">
        <div class="square rotate-45 transform lg:h-72 lg:w-72"></div>

        <div
          class="flex flex-col flex-wrap items-center mb-4 mt-4 w-full lg:flex-row z-10"
        >
          <div class="w-full lg:w-1/2 z-10">
            <img
              alt=""
              class="inline-block ml-4 h-16 w-16"
              src={contrastCheckerIcon.src}
            />

            <h2 class="p-4 text-3xl md:text-5xl">Contrast Checker</h2>

            <p class="m-4 text-lg">
              Ensure your color combinations are accessible and adhere to the
              WCAG standard.
            </p>

            <p class="m-4 text-lg">
              Colors with insufficient contrast can hurt accessibility and can
              be frustrating for users of your product. Use this tool to avoid
              those issues.
            </p>
          </div>

          <div class="w-full lg:w-1/2 z-10">
            <video
              autoplay
              muted
              loop
              playsinline
              class="h-auto max-w-sm m-auto p-4 w-full lg:ml-auto lg:mr-0"
            >
              <source src="/video/contrast-checker.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap justify-center pb-16 pt-16 w-full">
      <div class="max-w-6xl relative w-full">
        <div class="px-8">
          <h2 class="p-4 text-4xl md:text-5.5xl text-center w-full">
            Why Swach?
          </h2>

          <div class="flex justify-center mb-20 text-center w-full">
            <p class="max-w-md">
              We built Swach to be a complete color tool for
              <span class="font-bold">all designers</span> on
              <span class="font-bold">all platforms</span>. Not just macOS.
            </p>
          </div>
        </div>

        <div class="relative">
          <div class="bg-alt circle lg:h-72 lg:w-72"></div>

          <table
            class="bg-white font-gt-walsheim font-medium m-auto relative table-fixed text-sm w-full z-10 md:text-base lg:rounded-3xl"
          >
            <thead>
              <tr>
                <td class="block p-2 md:p-4 md:table-cell md:w-1/4"></td>
                <th class="bg-peach p-2 w-1/4 md:p-4 text-xl">Swach</th>
                <th class="p-2 w-1/4 md:p-4 text-xl">Sip</th>
                <th class="p-2 w-1/4 md:p-4 text-xl">Contrast</th>
              </tr>
            </thead>
            <tbody class="lg:rounded">
              <tr class="border-gray-100 border-t">
                <td class="font-black p-4 md:px-8 md:py-4">Contrast Checker</td>
                <td class="bg-peach p-2 text-center md:p-4">
                  <div class="inline-block">
                    <div
                      class="bg-swach-blue flex h-6 items-center justify-center rounded-full text-white w-6"
                    >
                      ✓
                    </div>
                  </div>
                </td>
                <td class="p-2 text-center md:p-4">
                  <div class="inline-block">
                    <div
                      class="bg-swach-blue flex h-6 items-center justify-center rounded-full text-white w-6"
                    >
                      ✓
                    </div>
                  </div>
                </td>
                <td class="p-2 text-center md:p-4">
                  <div class="inline-block">
                    <div
                      class="bg-swach-blue flex h-6 items-center justify-center rounded-full text-white w-6"
                    >
                      ✓
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="border-gray-100 border-t">
                <td class="font-black p-4 md:px-8 md:py-4">macOS</td>
                <td class="bg-peach p-2 text-center md:p-4">
                  <div class="inline-block">
                    <div
                      class="bg-swach-blue flex h-6 items-center justify-center rounded-full text-white w-6"
                    >
                      ✓
                    </div>
                  </div>
                </td>
                <td class="p-2 text-center md:p-4">
                  <div class="inline-block">
                    <div
                      class="bg-swach-blue flex h-6 items-center justify-center rounded-full text-white w-6"
                    >
                      ✓
                    </div>
                  </div>
                </td>
                <td class="p-2 text-center md:p-4">
                  <div class="inline-block">
                    <div
                      class="bg-swach-blue flex h-6 items-center justify-center rounded-full text-white w-6"
                    >
                      ✓
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="border-gray-100 border-t">
                <td class="font-black p-4 md:px-8 md:py-4">Color Palettes</td>
                <td class="bg-peach p-2 text-center md:p-4">
                  <div class="inline-block">
                    <div
                      class="bg-swach-blue flex h-6 items-center justify-center rounded-full text-white w-6"
                    >
                      ✓
                    </div>
                  </div>
                </td>
                <td class="p-2 text-center md:p-4">
                  <div class="inline-block">
                    <div
                      class="bg-swach-blue flex h-6 items-center justify-center rounded-full text-white w-6"
                    >
                      ✓
                    </div>
                  </div>
                </td>
                <td class="p-2 text-center md:p-4"></td>
              </tr>
              <tr class="border-gray-100 border-t">
                <td class="font-black p-4 md:px-8 md:py-4">Windows</td>
                <td class="bg-peach p-2 text-center md:p-4">
                  <div class="inline-block">
                    <div
                      class="bg-swach-blue flex h-6 items-center justify-center rounded-full text-white w-6"
                    >
                      ✓
                    </div>
                  </div>
                </td>
                <td class="p-2 text-center md:p-4"></td>
                <td class="p-2 text-center md:p-4"></td>
              </tr>
              <tr class="border-gray-100 border-t">
                <td class="font-black p-4 md:px-8 md:py-4">Linux</td>
                <td class="bg-peach p-2 text-center md:p-4">
                  <div class="inline-block">
                    <div
                      class="bg-swach-blue flex h-6 items-center justify-center rounded-full text-white w-6"
                    >
                      ✓
                    </div>
                  </div>
                </td>
                <td class="p-2 text-center md:p-4"></td>
                <td class="p-2 text-center md:p-4"></td>
              </tr>
              <tr class="border-gray-100 border-t">
                <td class="font-black p-4 md:px-8 md:py-4">Color Harmonies</td>
                <td class="bg-peach p-2 text-center md:p-4">
                  <div class="inline-block">
                    <div
                      class="bg-swach-blue flex h-6 items-center justify-center rounded-full text-white w-6"
                    >
                      ✓
                    </div>
                  </div>
                </td>
                <td class="p-2 text-center md:p-4"></td>
                <td class="p-2 text-center md:p-4"></td>
              </tr>
              <tr class="border-gray-100 border-t">
                <td class="font-black p-4 md:px-8 md:py-4">Cost</td>
                <td class="bg-peach p-2 text-center uppercase md:p-4">Free</td>
                <td class="p-2 text-center md:p-4">$10</td>
                <td class="p-2 text-center md:p-4">$6.99</td>
              </tr>
            </tbody>
          </table>

          <div
            class="bg-swach-blue -mt-24 square rotate-45 transform lg:-mt-56 lg:h-72 lg:w-72"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .modern-underline {
    border-bottom: 5px solid #36cad2;
  }

  .top-bg {
    height: 1030px;
    right: -172px;
    top: -294px;
    width: 1030px;
  }
</style>
